///////////////
// Extras
.virtual_icon {
  width: 10rem;
  margin-left: -1rem;
}

.wave {
  position: absolute;
  width: 100%;
  fill: #fff;
  top: 13rem;
  z-index: 2;
}

.hide {
  display: none !important;
}

.btn-icon {
  width: 2rem;
  height: 2rem;
  fill: white;
  margin-right: 0.5rem;
}

///////////////
// Logo
.logo {
  &__icon-box {
    position: relative;
    cursor: pointer;
  }

  &__icon {
    width: 7rem;
    height: 7rem;
    fill: var(--color-secondary-blue);
  }
}

//////////////
// Navigation
.user-nav {
  display: flex;
  justify-content: space-evenly;
  width: 70%;

  @media screen and (max-width: 500px) {
    display: none;
  }

  &__item {
    list-style: none;
    font-size: 1.9rem;
    color: var(--color-secondary-blue);
    cursor: pointer;

    @media screen and (max-width: $bp-largest) {
      font-size: 1.2rem;
      padding-top: 1.5rem;
    }

    &::after {
      content: "";
      display: block;
      margin-top: -0.3rem;
      border-bottom: 2px groove var(--color-secondary-blue);
      width: 0%;
      transition: width 0.5s ease-in-out;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.mobile-menu {
  margin-left: auto;
  transition: all 0.5s;
  z-index: 7;
  font-size: 2rem !important;

  @media screen and (max-width: 500px) {
    display: block;
  }

  &__nav {
    position: fixed;
    background-color: #fff;
    width: 40vw;
    display: block;
    list-style-type: none;
    z-index: 6;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 5rem 3rem;
    text-align: center;
    transition: all 0.5s;

    & > .user-nav__item {
      font-size: 2rem;
    }
  }
}

//////////////
// Burger Menu
.burger {
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.2s all;
  -webkit-tap-highlight-color: transparent;

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
  }

  & .burger-lines {
    top: 50%;
    margin-top: -0.125em;

    &,
    &:after,
    &:before {
      pointer-events: none;
      display: block;
      content: "";
      width: 100%;
      border-radius: 0.25em;
      background-color: var(--color-secondary);
      height: 0.35em;
      position: absolute;
      transform: rotate(0);
    }

    &:after {
      left: 0;
      top: -1em;
    }
    &:before {
      left: 1em;
      top: 1em;
    }
  }

  &.burger-slip .burger-lines {
    &:after,
    &:before {
      width: 2em;
    }

    &,
    &:after,
    &:before {
      transition: all 0.2s;
    }
  }

  &.burger-slip.open .burger-lines {
    transform: translateX(-2em);
    background-color: transparent;

    &:before,
    &:after {
      left: 0.5em;
      top: 0px;
    }

    &:before {
      transform: translateX(2em) rotate(135deg);
    }

    &:after {
      transform: translateX(2em) rotate(-135deg);
    }
  }
}

/////////////
// Banner
.banner__top {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10vh;
  z-index: 5;

  @media screen and (max-width: $bp-largest) {
    top: 6vh;
    z-index: 5;

    img {
      width: 70vw;
    }
  }

  /* Laptop */
  @media only screen and (min-width: 1000px) {
    top: -5vh;
  }

  /* Tablet */
  @media only screen and (min-width: 768px) and (max-width: 1000px) {
    top: unset;
  }

  @media screen and (max-width: 32rem) {
    top: 2vh;

    img {
      width: 100vw;
    }
  }

  & > * {
    margin: 0.5rem;
  }

  &-icon {
    width: 24rem;
    height: 24rem;
  }

  &-logo {
    width: 16rem;
    height: 5rem;
    fill: var(--color-primary);
  }
}

.banner__top-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > h3 {
    color: var(--color-primary);
    line-height: 1.5rem;
  }
}

.banner__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #131353;

  @media screen and (min-width: 750px) {
    margin-bottom: 5rem;
  }

  @media screen and (max-width: 100rem) {
    position: relative;
    bottom: 7vh;
    z-index: 3;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-light-blue);
    line-height: 4rem;
    height: 50%;
    padding-top: 1.5rem;

    /* Laptop */
    @media only screen and (min-width: 1000px) {
      transform: unset;
    }

    & > h3 {
      font-size: 3.5rem;
    }

    & > p {
      font-size: 2rem;
    }

    @media screen and (max-width: $bp-largest) {
      & > p {
        font-size: 1.5rem;
      }
      & > h3 {
        font-size: 2rem;
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    width: 28rem;
  }

  &-icon {
    width: 4rem;
    margin-top: 2rem;
  }
}

///////////
// About
.about {
  &__diagram {
    height: 65rem;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    width: 60%;

    & > h3 {
      color: var(--color-secondary-blue);
      font-size: 3.2rem;
    }

    & > p {
      color: #fafaff;
      font-size: 1.6rem;
    }
  }

  @media screen and (max-width: $bp-largest) {
    &__diagram {
      display: none;
    }
    &__content {
      width: 100%;
    }
  }
}

///////////////
// Participation
.participation {
  & > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 8rem 0;
  }

  &__card {
    position: relative;
    width: 35rem;
    border-radius: 1.6rem;
    background-color: #fff;
    text-align: center;
    padding: 2rem;

    &-img {
      position: absolute;
      top: -9rem;
      height: 20rem;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &-content {
      padding-top: 7rem;
      & p {
        font-size: 2.4rem;
        text-align: center;
        font-weight: bold;
        line-height: 3rem;
        margin-bottom: 1rem;
      }
    }
  }

  & h1 {
    font-size: 5rem;
  }

  &__hacker {
    background-color: var(--color-secondary);
    box-shadow: 0px 4px 8px rgba(19, 19, 83, 0.25);
    & h1 {
      color: var(--color-primary);
    }
  }

  &__ngo {
    background-color: #ffe6ee;
    box-shadow: 0px 4px 8px rgba(241, 34, 114, 0.15);
    & h1 {
      color: var(--color-primary-pink);
    }
  }

  @media screen and (max-width: $bp-largest) {
    &__card {
      width: 30rem;
    }
    &__hacker,
    &__ngo {
      width: 100vw;

      & h1 {
        font-size: 3rem;
      }
    }
  }

  /* Tablet */
  @media only screen and (min-width: 768px) and (max-width: 1000px) {
    &__hacker,
    &__ngo {
      width: 50vw;
    }
  }
}

///////////////
// Schedule
.schedule {
  & > .virtual_icon {
    width: 16rem;
    height: 7rem;
  }

  &__title {
    font-size: 4rem;
    color: var(--color-secondary);
    line-height: 3rem;
  }

  &__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    padding: 0 3rem;
    background-color: #1d1d7d;
    border-radius: 0.8rem;
    color: var(--color-light-blue);
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    transition: transform 0.3s ease-out;
    cursor: pointer;

    & > h1 {
      font-size: 7rem;
      margin-right: 4rem;
    }

    &-info {
      text-align: left;
      font-size: 1.2rem;
    }

    &-icon {
      margin-left: auto;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:last-child {
      width: 100%;
    }

    &.half {
      width: 49%;
    }

    @media screen and (max-width: $bp-largest) {
      & {
        min-width: 90vw;
      }
      &.half {
        width: 80vw;
      }
      &:last-child {
        width: 80vw;
      }
      &-container {
        min-width: 90vw;
        flex-direction: column;
        align-items: center;
      }
      &-icon {
        & img {
          width: 10rem;
        }
      }
    }
  }
}

//////////////
// Events
.events {
  &__title {
    font-size: 4rem;
    color: var(--color-primary);
    line-height: 3rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $bp-largest) {
      justify-content: center;
    }
  }

  &__card {
    padding: 4rem;

    &-img {
      padding: 1rem;
      background: #ffffff;
      box-shadow: 0px 4px 8px rgba(19, 19, 83, 0.25);
      width: 30rem;
      height: 30rem;

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      text-align: center;
      margin: auto;
    }

    & > p {
      font-size: 1.8rem;
      color: #666666;
      margin: 2rem 0;
    }
  }
}

////////////
// Footer
.footer {
  &__links {
    flex: 1;
    & > h2 {
      color: #fafaff;
      font-size: 2rem;
    }

    &-list {
      list-style: none;
    }
  }

  &__link {
    color: var(--color-secondary);
    font-size: 1.4rem;
  }

  &__logo {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    align-items: flex-end;

    & > .logo__icon {
      width: 13rem;
      height: 4rem;
      fill: var(--color-secondary);
    }

    & > .virtual_icon {
      margin-left: 0;
      margin-right: 2rem;
    }
  }

  @media screen and (max-width: $bp-largest) {
    min-width: 100vw;
    padding: 7vw;
    flex-direction: column;
    align-items: flex-start;

    &__logo {
      margin-top: 5rem;
      align-self: flex-end;
    }
  }
}
